* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

body {
    background: url('mehdi-messrro-iNFMfq7qxcQ-unsplash.jpg');
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*----------Container size,position,colour-------------*/
.Login_Container {
    max-width: 450px;
    width: 50%;
    background: #fff;
    padding: 50px;
}

.Login_Container form {
    height: 100%;
    width: 100%;
    background: #fff;
}

/*----------TITLE LOGIN-------------*/
form .Contents .title {
    font-size: 24px;
    font-weight: 900;
    color: #333;
    position: relative;
    left: 25%;
    text-decoration: underline;
}

/*----------TITLE PASSWORD-------------*/
form .Contents .title2 {
    font-size: 24px;
    font-weight: 900;
    color: #333;
    position: relative;
    left: 11%;
    text-decoration: underline;
}

/*----------TITLE bridge-------------*/
form .Contents .title3 {
    font-size: 20px;
    font-weight: 900;
    color: #333;
    position: relative;
    left: 15%;
    text-decoration: underline;
}


/*----------space between children of Input_Boxes-------------*/
form .Contents .Input_Boxes {
    margin-top: 15px;
}


/*----------space between Boxes-------------*/
form .Contents .Box {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
}


/*----------items of parent box-------------*/
form .Contents .Box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}


/*----------textBox-------------*/
.MyTextbox {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom-color: black;
}


.MyTextbox:valid {
    border-color: #7d2ae8;
}

.Contents .Box input:focus {
    border-color: #7d2ae8;
}

.Contents .Box input:valid {
    border-color: #7d2ae8;
}

.Contents .Box img {
    position: absolute;
}

form .Contents .SubmitD {
    color: black;
    background-color: antiquewhite;
}

/*------------Forgotpassword-------------*/
.Forgetpass > p {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #333;
}

.Forgetpass > p:hover {
    text-decoration: underline;
    color: rgba(197, 1, 83, 100%);
}

/*----------button-------------*/
.Buttun {
    font-weight: 900;
    color: dodgerblue;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background: #2a272b;
}

.Contents .Box input:valid {
    border-color: deeppink;
}

.Buttun:hover {
    color: deeppink;
    border-bottom-color: aquamarine;
}



form .Contents label {
    color: #7d2ae8;
    cursor: pointer;
}

form .Contents label:hover {
    text-decoration: underline;
}

/*----------social-media-------------*/

form .Contents .social {
    position: relative;
    margin-left: 25%;
}

.social img {
    border-radius: 100%;
    cursor: pointer;
}

    .social img:hover {
        background: dodgerblue;
        transition: all 0.2s ease-in-out;
    }


form .Contents .follow {
    position: relative;
}

.follow img{
    border-radius: 100%;
    cursor: pointer;
}

.follow img:hover {
    background: deeppink;
    transition: all 0.2s ease-in-out;
}

/*----------create-password-------------*/
.CreateAcc a {
    text-decoration: none;
}

.CreateAcc a:hover {
    color: orangered;
    text-decoration: underline;
}

/*----------Copy-Wrt-------------*/
form .Contents .CopyR > p {
    text-align: center;
    font-weight:900;
    color: #333;
}

/*----------Copy-Wrt-------------*/
form .Contents .Divide > p {
    text-align: center;
}